.menu {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:purple;
  font-style:bold;
  float:left;
  text-align: left;
  background-color: rgb(155, 182, 207);
  width:10%;
  min-height: 98%;
  padding: 10px;

}
a {
  font-size: 15px;
}

.wrapperDiv {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}
.mainContent {
  
  padding-top: 10px;
  text-align: center;
  min-height:98%;
}

body {
  background-color: rgb(241, 252, 255);
}

h1,h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgb(48, 48, 48);

}